body{
    width: window.innerWidth;
    height:window.innerHeight;
    background-color: rgba(255,240,240,0.5); 
    opacity: 1;
    margin:1.25rem;
    overflow:hidden;
    text-align: center;

}
h1{
    font-size: 8vh;
    font-family: 'Estonia', cursive;
}
