body{
    width: window.innerWidth;
    height:window.innerHeight;
    background-color: rgba(255,240,240,0.5); 
    opacity: 1;
    overflow:hidden;
    text-align: center;
    overflow-y:scroll;
    scrollbar-color: rgba(100,110,110,0.2) rgba(255,240,240,0.5);

}
body::-webkit-scrollbar{
    width: 0.5vw;
}
body::-webkit-scrollbar-track {
    background:rgba(255,240,240,0.5);
    border-radius: 0.5rem;
}
body::-webkit-scrollbar-thumb {
background-color: rgba(100,110,110,0.2); 

border:0.35rem solid rgba(255,240,240,0.5);
border-radius: 0.5rem;
}
nav{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 5vh;
    padding: 1vh 0.5vw 0.2vh 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-left: 0;
    
    
   
}
nav a{
    text-decoration: none;
    font-size: 3vh;
    color: black;
    font-family: 'Sacramento', cursive;
    font-family: 'Special Elite', cursive;
    
    }
#s2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    
}
#s2 a{
  padding-right: 2vw;
  text-decoration: none;
  font-size: 3vh;
  color: black;
  font-family: 'Estonia', cursive;  
  font-weight: bolder;
}

h1{
    
    font-size: 8vh;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
}

#heading{
    padding-top: 5vh;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
    background-color: rgba(100,110,110,0.2);
    padding-bottom: 10vh;
    text-decoration: underline;
}
#container{
    height: 100%;
    background-color: rgba(100,110,110,0.2);
    border-bottom-left-radius: 1.5vh;
    border-bottom-right-radius: 1.5vh;
   
    
}

.sep{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imgicon{
    margin: 2vh 0 2vh 0;
    border: 0.3vh solid black;
    border-radius: 0.3vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    font-family: 'Gloria Hallelujah', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Special Elite', cursive;
}
.imgicon img{
    border-radius: 0.3vh;
    width: 60vh;
}
.quote{
    
    margin-top: 2vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    font-family: 'Gloria Hallelujah', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Special Elite', cursive;
}
.quote1{
    
    margin-top: 2vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
    font-family: 'Gloria Hallelujah', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Special Elite', cursive;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gloria Hallelujah', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Special Elite', cursive;

}
#about div p{
    width: 50vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-family: 'Special Elite', cursive;
}
#portfolio{
    width: 15vh;
    border-radius: 50%;
}
@media(max-width: 910px){
    .sep{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}
@media(max-width:640px){
    .imgicon img{
        width:40vh;
    }
}